{% assign blogposts = site.data.data.blogposts %}
{% if blogposts %}
<section class="section blogposts-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-blog fa-stack-1x fa-inverse"></i>
    </span>
    {{ blogposts.title }}
  </h2>

  {% if blogposts.intro %}
  <div class="intro">
    {{ blogposts.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for blogpost in blogposts.papers %}
  <div class="item">
    {% if blogpost.link %}
      <li><a href="{{ blogpost.link }}">{{ blogpost.title }}</a></li>
    {% else %}
      <li>{{ blogpost.title }}</li>
    {% endif %}
    <div class="blogpost-authors">{{ blogpost.authors }}</div>
    <div class="blogpost-conference">{{ blogpost.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
